body {
    text-align: center;
}

main {
    width: 500px;
    justify-self: center;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 32px auto;
    max-width: 400px;
    padding: 16px 24px;
    background: #738f9e;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
}

form input[type="text"],
form input[type="date"] {
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    flex: 1 1 0;
    min-width: 0;
}

form button {
    padding: 8px 17px;
    background: #4f8cff;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.2s;
}

form button:hover {
    background: #2563eb;
}

.task-controls {
    display: flex;
    flex-direction: justify;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 30px auto;
    max-width: 400px;
    padding: 16px 24px;
    background: #738f9e;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
}

.complate,
.filter {
    padding: 10px 12px;
    background: #4f8cff;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s;
}

.delete {
    padding: 8px 12px;
    background: #4f8cff;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s;
}